<div class="container">
  <%= simple_form_for(office) do |f| %>
    <% @office.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :available_dates %>
    <%= f.input :price%>
    <%= f.input :description %>
    <%#= f.input :img_url %>
    <%#= f.input :photo, as: :file %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit class: "btn btn-form" %>
  <% end %>
</div>
