<div class="container">
  <%= simple_form_for office, data: { controller: 'flatpickr' } do |f| %>
    <% @office.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date' } %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%#= f.input :img_url %>
    <%#= f.input :photo, as: :file %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit class: "btn btn-form" %>
  <% end %>
</div>
