<div class="container mt-4">
  <div class="row">
    <div >
      <h1>Edit Office</h1>
      <div >
       <div class="container">
          <%= simple_form_for @office, data: { controller: 'flatpickrnew' } do |f| %>
            <% @office.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            <%= f.input :name %>
            <%= f.input :address %>
            <%= f.input :start_date, as: :string, input_html: { data: { flatpickrnew_target: "startDate" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { flatpickrnew_target: "endDate" }, id: 'end_date' } %>
            <%= f.input :price %>
            <%= f.input :description %>
            <%#= f.input :img_url %>
            <%#= f.input :photo, as: :file %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            <%= f.submit class: "btn btn-form" %>
          <% end %>
        <p>Start date: <span id="startDate1"><%= @office.start_date %></span></p>
        <p>End date: <span id="endDate1"><%= @office.end_date %></span></p>
</div>

      </div>
    </div>
  </div>
</div>
