<div class="justify-content-center">
  <div class="d-flex justify-content-between">
    <div class="mx-15 title">
      <h1><%= @office.name.capitalize %></h1>
    </div>
    <div class=" dropdown-delete" style=" margin-right: -27cm; margin-top: 74px;">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        ...
      </button>
      <ul class="dropdown-menu">
        <!-- Dropdown menu links -->
          <li><% if policy(@office).edit? %>
            <%= link_to edit_office_path(@office) do %>
            Edit
            <% end %>
          <% end %></li>
          <li><% if policy(@office).destroy? %>
            <%= link_to offices_path,
                        method: :delete,
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                        class: 'delete-link' do %>
                    Destroy
                    <% end %>
          <% end %></li>
      </ul>
    </div>
    <div class="dropdown-share" style=" margin-right: 115px; margin-top: 74px;">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Share
      </button>
      <ul class="dropdown-menu">
          <li><a target="_blank" href="https://github.com/AnaLopezRdz"><i class="fab fa-github"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com/mnsnina/"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="my-4 container">
      <div class="carousel-inner d-flex justify-content-between align-items-center">
        <% @office.photos.each do |photo| %>
          <div class="carousel-item <%= 'active' if photo == @office.photos[0] %>">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= cl_image_tag photo.key, class:"d-block rounded", alt:"Cover", crop: :fill, style:" width: 100%;"  %>
          </div>
        <% end %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="mx-5 form_booking">
    <div class="col-7 mx-4">
      <div class="adress_description">
        <div class="name-address">
          <div class="d-flex justify-content-between">
              <div class="mx-4">
                  <h6 class="flat-show-address"><%= @office.address %></h6>

              </div>
              <div class="my-10">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/dclozlnfy/image/upload/v1693242201/360_F_187104027_8i2JbFDBB5jB7R65Ce464yRs4gfNbR3Z_cpcsbf.jpg",
                class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
              </div>
          </div>
        </div>
        <hr>
        <%= render "shared/lables" %>
        <hr>
        <br>
        <div>
        <h4>Description of the location:</h4>
        <p><%= @office.description %></p>
        </div>
        <hr>
        <br>
        <div class="reviews">
        <h4>Reviews:</h4>
        <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
        </div>
        <hr>
      </div>
    </div>
    <div class="col-4 mx-4">
      <div class="reviews_stars">
        <div class="d-md-flex justify-content-md-end">
        </div>
      </div>
      <div class="border_booking">
        <div class=" mx-auto  d-md-flex justify-content-md-center">
          <h5>Book this place:</h5>
        </div>
        <div class="mx-auto  d-md-flex justify-content-md-center">
          <p>Available dates: <span id="startDate1"><%= @office.start_date %></span> |<span id="endDate1"><%= @office.end_date %></p>
        </div>
        <div class="d-md-flex justify-content-md-end">
          <h6>£<%= @office.price %> per night</h6>
        </div>
        <div class="d-grip gap-1">
          <%= simple_form_for [@office, @booking], data: { controller: 'flatpickr' } do |f| %>
            <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date' } %>
            <div class="price">
              <p>£<span id="office-price"><%= @office.price %></span> X <span id="total-days">0</span> days</p>
              <p>£<span id="total-price-dates">0.00</span></p>
            </div>
            <div class="fee">
              <p>Cleaning fee:</p><p>£<span id="cleaning-fee">80.00</span></p>
            </div>
            <hr>
            <div class="total">
              <p>Total:</p><p>£ <span id="total">80.00</span></p>
            </div>
            <%= f.submit 'Schedule your booking'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="address">
      <h6>Where you will be:</h6>
      <p><%= @office.address %></p>
    </div>
    <div class="map">
      <div style="my-4 width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>
