<div class="container">
  <h1><%= @office.name %></h1>
  <%= link_to "Add new office ",  new_office_path, class: "btn btn-success" %>
     <%= link_to root_path,
                method: :delete,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: 'delete-link' do %>
             <i class="fa-duotone fa-trash"></i>
            <% end %>

  <ul>
      <p><% @offices.each do |office| %></p>
      <p><%= office.name %></p>
      <p>Adress:<%= offices.adress %></p>
      <div class="pictures">
        <img src="<%= cl_image_tag @office.photo.key, height: 300, width: 400, crop: :fill %>"width="800px">
      </div>
      <p>Description:<%= office.description %></p>
      <p>Price:<%= office.price %></p>
      <hr>
      <% end %>
      <p><%= link_to "Back to homepage", offices_path %></p>

  </ul>
</div>
