<div class="justify-content-center">
  <div class="title">
    <h1><%= @office.name.capitalize %></h1>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="my-4 container">
      <div class="carousel-inner d-flex justify-content-between align-items-center">
        <% @office.photos.each do |photo| %>
          <div class="carousel-item <%= 'active' if photo == @office.photos[0] %>">
            <%# <img src="..." class="d-block w-100" alt="..."> %>
            <%= cl_image_tag photo.key, class:"d-block rounded", alt:"Cover", crop: :fill, style:" width: 100%;"  %>
          </div>
        <% end %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="mx-5 form_booking">
    <div class="col-7 mx-4">
      <div class="container">
        <div class="name-address">
          <div class="d-flex justify-content-between">
              <div class="mx-4">
                  <h6 class="flat-show-address"><%= @office.address %></h6>
              </div>
              <div class="my-10">
                <% if current_user.photo.attached? %>
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/dclozlnfy/image/upload/v1693242201/360_F_187104027_8i2JbFDBB5jB7R65Ce464yRs4gfNbR3Z_cpcsbf.jpg",
                class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
              </div>
          </div>
        </div>
        <hr>
        <br>
         <%= render "shared/lables" %>
        <hr>
        <br>
      </div>
    </div>
    <div class="col-4 mx-4">
      <div class="reviews_stars">
        <div class="d-md-flex justify-content-md-end">
          <%# <p>= @reviews.stars · (= @reviews.comment.length)</p> %>
        </div>
      </div>
      <div class="border_booking">
      <div class="mx-auto  d-md-flex justify-content-md-center">
        <h5>Book this place:</h5>
      </div>
      <div class="mx-auto  d-md-flex justify-content-md-center">
        <p>Available dates: <span id="startDate1"><%= @office.start_date %></span> |<span id="endDate1"><%= @office.end_date %></p>
      </div>
      <div class="d-md-flex justify-content-md-end">
        <h6>£<%= @office.price %> per night</h6>
      </div>
      <div class="d-grip gap-1">
        <%= simple_form_for [@office, @booking], data: { controller: 'flatpickr' } do |f| %>
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date' } %>
          <% total_days = (@office.end_date - @office.start_date).to_i  %>
          <% total = (@office.price * total_days) %>
          <div class="price">
            <p>£<%= @office.price %> X <%= total_days %>days</p> <p>£ <%= total %> </p>
          </div>
          <div class="fee">
            <p>Cleaning fee:</p><p>£ 80</p>
          </div>
          <hr>
          <div class="total">
            <p>Total:</p><p>£ <%= total + 80 %></p>
          </div>

          <%= f.submit 'Schedule your booking'%>
        <% end %>
      </div>
      <%# <div class="icons">
        <p>Let's share: </p>
        <i class="fa-brands fa-facebook-square me-2 fa-2x"></i>
        <i class="fa-brands fa-twitter-square me-2 fa-2x"></i>
        <i class="fa-brands fa-pinterest-square me-2 fa-2x"></i>
      </div> %>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="map">
      <div style="my-4 width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
  <div class="d-grip gap-2 d-md-flex justify-content-md-end">
    <% if policy(@office).edit? %>
      <%= link_to edit_office_path(@office) do %>
      <i class="fa-solid fa-pencil" style="color: #463730;"></i>
      <% end %>
    <% end %>
    <% if policy(@office).destroy? %>
      <%= link_to offices_path,
                  method: :delete,
                  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                  class: 'delete-link' do %>
              <i class="fa-regular fa-trash-can" style="color: #E57915;"></i>
              <% end %>
    <% end %>
  </div>
</div>
