<div class="container w-100 my-4">
      <h1> You have visited: (<%= @bookings.length %>)</h1>
      <div class="d-flex row my-4   justify-content-around">
        <% @bookings.each do |booking| %>
            <div class="col-md-3 card-product">
              <div class="flat-content ">
                <div class="width: 100%;">
                  <%# <img style="object-fit:cover; width:100%; height: 200px; "src="<%= flat.picture_url %>
                  <%# " alt="bonito"> %>
                  <div>
                    <%= cl_image_tag booking.office.photos.first.key, class:"d-block rounded", alt:"Poster", crop: :fill, style:" width: 100%; height: 200px;"  %>
                  </div>
                  <h1 class="my-1 mx-1"><%= booking.office.name%></h1>
                  <p class="mx-1"><%= booking.office.address%></p>
                </div >

                <div class="border-bottom mx-1">
                  <p> From:<%=booking.start_date %></p>
                  <p>To:<%= booking.end_date%></p>
                </div>
              </div>
              <div class="flat-card-actions">
                  <%= link_to "More info...", booking_path(booking) %>

                  <%= link_to "cancel",
                    booking_path(booking),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                    class: "ms-3 text-danger"
                  %>

              </div>
              <%# <hr> %>

            </div>

        <% end  %>
      </div>
</div>
