 <h1>Hello <%= @user.name %>, </h1>
  <p>We are happy to confirm your booking for <%= @office.name %>,</p>
  <p>on <%= @booking.start_date %> - <%= @booking.end_date %> </p>
  <hr>
  <br>
  <div class="container">
    <h3>Here are some details about your booking:</h3>
    <div class="col">
      <div class="card">
        <%= cl_image_tag @office.photos.first.key, class:"card-img-top", alt:"Poster", crop: :fill %>
        <div class="card-body">
          <h5 class="card-title">Address: <%= @office.address %></h5>
          <p class="card-text">Price: £<%= @office.price %></p>
        </div>
      </div>
    </div>
  </div>
